/*light mode
@media (prefers-color-scheme: light) {*/
:root {
  --bgColor: white;
  --pColor: #202124;
  --linkColor: #065fd4;
}
.darkonly {
  display: none;
}
/*}
dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #202124;
    --pColor: whitesmoke;
    --linkColor: #83aaeb;
  }
  .lightonly{
    display: none;
  }
}*/
/*pc, large display*/
@media (min-width: 834px) {
  .doFlex {
    display: flex;
    margin: 0 2%;
    flex-wrap: nowrap;
  }
  .flex1 {
    flex-basis: 50%;
    padding: 0 0% 0 0;
  }
  .flex2 {
    flex-basis: 50%;
    padding: 0 0 0 0%;
  }
}
@font-face {
  font-family: 'Frutiger';
  src: url('/fonts/Frutiger.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src: url('/fonts/NotoSans.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.75s;
  background-color: var(--bgColor);
  font-family: "Frutiger", "Noto", sans-serif;
  line-height: 1.3em;
}

#message {
  display: none;
  padding: 10px;
  border: 1px solid #cccccc;
  background-color: var(--bgColor);
  margin: 60px 3% 0 3%;
}
#redirect-link {
  color: #83aabb;
  text-decoration: underline;
  cursor: pointer;
}
body {
  margin: 0;
  position: relative;
  padding: 3% 0 0;
  font-family: OsansR, sans-serif;
  animation-name: load;
  animation-duration: 0.8s;
  animation-delay: 0.001s;
}
table {
  background-color: var(--pColor);
}
td {
  text-align: center;
  color: var(--pColor);
}
th {
  background-color: var(--pColor);
  color: var(--bgColor);
}
input[type="button"] {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  transition: 0;
  cursor: pointer;
  border: 1px solid black;
  background-color: #cccccc;
  color: #202124;
}
input[type="button"]:disabled {
  cursor: not-allowed;
  @media (prefers-color-scheme: light) {
    /*ライトだと薄くするとおかしいから調整*/
    border: 1px solid #202124;
    background-color: rgba(32, 33, 36, 0.4);
    color: rgba(32, 33, 36, 0.4);
  }
  @media (prefers-color-scheme: dark) {
    border: 1px solid #202124;
    background-color: rgba(204, 204, 204, 0.4);
    color: rgba(32, 33, 36, 0.4);
  }
}

footer {
  border-top: 10px solid var(--pColor);
  width: 100%;
  height: 100px;
  margin-top: 50px;
  padding-top: 1em;
}
p {
  font-size: 16px;
  color: var(--pColor);
  padding: 1px 5%;
  margin: 1px;
  align-items: center;
}
li {
  font-size: 16px;
  color: var(--pColor);
  padding: 2px 0;
  margin: 1px;
  align-items: center;
}
header p {
  padding: 0;
  margin: 10px 2% 5px 3%;
  color: black;
  background-color: gainsboro;
}
table {
  margin: auto;
  width: 94%;
}
a {
  color: var(--linkColor);
}
header a {
  color: blue;
}
a.siteName {
  color: #202124;
  background-color: transparent;
}
a.btn {
  padding: 0;
  margin: 5px 1%;
  color: #639bb7;
  width: 80px;
  height: 30px;
  background-color: #fffdc5;
  display: block;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 6% 0 4% 0;
  color: var(--pColor);
}
h2 {
  font-size: 18px;
  border: 6px double var(--pColor);
  margin: 0 3%;
  padding: 1% 0;
  text-align: center;
  color: var(--pColor);
}
.h2-flex {
  color: var(--bgColor);
  background-color: var(--pColor);
}
.h2-div {
  font-size: 18px;
  margin: 0 7%;
  padding: 1% 0;
}
h3 {
  margin: 0 5%;
  padding: 1% 0;
  color: var(--pColor);
}
/* centering */
.left {
  float: left;
  text-align: left;
}
.leftAlone {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
/*collapse text box*/
.acd-check {
  display: none;
}
.acd-label {
  border: 1px solid var(--pColor);
  background: var(--bgColor);
  color: var(--pColor);
  display: block;
  margin: 0 3%;
  padding: 10px 3%;
}
.acd-content {
  border: 1px solid var(--pColor);
  border-top: none;
  height: 0;
  opacity: 0;
  margin: 0 3%;
  padding: 10px;
  transition: 0.3s;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content {
  height: auto;
  opacity: 1;
  margin: 0 3%;
  visibility: visible;
}
/*terms*/
.container {
  padding: 10px;
}

input[type="checkbox"] {
  margin: 15px 5px;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
